@charset "UTF-8";
.row {
  margin-left: 0px;
  margin-right: 0px; }

.text-right {
  text-align: right; }

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  -moz-transition: opacity ease-in-out 1.5s;
  -o-transition: opacity ease-in-out 1.5s;
  -webkit-transition: opacity ease-in-out 1.5s;
  transition: opacity ease-in-out 1.5s;
  z-index: 0; }
.carousel-fade .carousel-inner .active {
  opacity: 1;
  transition-property: opacity;
  -moz-transition: opacity ease-in-out 1.5s;
  -o-transition: opacity ease-in-out 1.5s;
  -webkit-transition: opacity ease-in-out 1.5s;
  transition: opacity ease-in-out 1.5s;
  z-index: 1; }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 0; }
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-control {
  z-index: 2; }

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%; }

.menu-wrapper {
  width: 980px;
  margin: auto; }
  @media screen and (max-width: 481px) {
    .menu-wrapper {
      width: 100%; } }

body {
  font-size: 13px;
  font-size: 1.3rem; }

ul {
  margin: 0; }

.mc-image {
  background-size: cover;
  background-position: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1.5s; }
  @media screen and (min-width: 481px) and (max-device-width: 1024px) {
    .mc-image {
      width: 1024px !important;
      height: 768px !important; } }

#maximage {
  z-index: 1; }

#loader {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  _position: absolute;
  /* IE6対策 */
  top: 50%;
  left: 50%;
  margin-top: -25px;
  /* heightの半分のマイナス値 */
  margin-left: -25px;
  /* widthの半分のマイナス値 */
  z-index: 100; }
  #loader i {
    font-size: 36px;
    font-size: 3.6rem; }

 
#fade {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50; }

#site_header {
  position: relative;
  z-index: 3;
  width: 100%; }
  #site_header .fixed_area {
    background: #f8b500;
    padding: 8px 0;
    width: 100%; }
    @media screen and (min-width: 481px) {
      #site_header .fixed_area {
        display: inline-table; } }
    #site_header .fixed_area .menu_btn_area {
      width: 980px;
      margin: 0 auto;
      padding: 0 15px;
      z-index: 100; }
      @media screen and (max-width: 481px) {
        #site_header .fixed_area .menu_btn_area {
          width: 100%;
          padding: 0; } }
      #site_header .fixed_area .menu_btn_area .logo {
        float: left;
        cursor: pointer; }
        #site_header .fixed_area .menu_btn_area .logo img {
          height: 59px; }
      #site_header .fixed_area .menu_btn_area .global-nav {
        float: left;
        margin-left: 82px; }
        #site_header .fixed_area .menu_btn_area .global-nav ul li {
          display: block;
          float: left;
          margin-right: 29px; }
          #site_header .fixed_area .menu_btn_area .global-nav ul li:last-child {
            margin-right: 0px; }
          #site_header .fixed_area .menu_btn_area .global-nav ul li span {
            cursor: pointer; }
          #site_header .fixed_area .menu_btn_area .global-nav ul li a {
            vertical-align: middle;
            display: block;
            height: 59px;
            outline: none;
            padding-top: 24px; }
            #site_header .fixed_area .menu_btn_area .global-nav ul li a img {
              height: 9px;
              outline: none;
              display: block;
              margin: 0 auto;
              padding-left: 28px; }
          #site_header .fixed_area .menu_btn_area .global-nav ul li.active {
            background: url(/images/active.png) center left no-repeat;
            background-position-y: 23px;
            background-position-x: 2px; }
      #site_header .fixed_area .menu_btn_area .social-btn {
        float: right;
        margin-left: 30px; }
        #site_header .fixed_area .menu_btn_area .social-btn ul li {
          float: left; }
          #site_header .fixed_area .menu_btn_area .social-btn ul li:nth-child(2) {
            padding-left: 20px; }
          #site_header .fixed_area .menu_btn_area .social-btn ul li a {
            vertical-align: middle;
            display: table-cell;
            height: 59px; }
            #site_header .fixed_area .menu_btn_area .social-btn ul li a img.tw-icon_size {
              height: 29px; }

section {
  width: 100%; }
  section.fixed_anime {
    position: fixed;
    z-index: 0;
    top: 0; }
    section.fixed_anime .full_bg .carousel-inner {
      overflow: hidden;
      width: 100%;
      height: 779px; }
    section.fixed_anime .filter_layer {
      background: #fff;
      opacity: 0.1;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%; }
    section.fixed_anime .head_text_area {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3; }
      section.fixed_anime .head_text_area .head-logo {
        margin-top: 179px; }
        @media screen and (max-width: 481px) {
          section.fixed_anime .head_text_area .head-logo {
            margin-top: 49px; } }
        section.fixed_anime .head_text_area .head-logo img {
          max-width: 252px;
          display: block;
          margin: 0 auto; }
      section.fixed_anime .head_text_area .bookatable {
        margin-top: 32px; }
        section.fixed_anime .head_text_area .bookatable img {
          display: block;
          margin: 0 auto; }
  section.overlayer {
    position: absolute;
    top: 780px;
    z-index: 1; }
    @media screen and (max-width: 481px) {
      section.overlayer {
        top: 481px; } }
    @media screen and (min-width: 481px) {
      section.overlayer {
        display: inline-table; } }
    section.overlayer .sp-gmenu {
      background-color: #F8B500; }
      section.overlayer .sp-gmenu ul li {
        display: block;
        background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%);
        /* W3C */
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-left: 1px solid rgba(0, 0, 0, 0.3); }
        section.overlayer .sp-gmenu ul li a {
          padding: 16px 15px;
          color: inherit;
          display: block; }
        section.overlayer .sp-gmenu ul li .fa {
          right: 10px;
          position: absolute; }
        section.overlayer .sp-gmenu ul li .left-position {
          position: relative;
          top: 1px;
          left: -2px;
          display: inline-block;
          padding-right: 3px;
          font-size: 15px;
          font-size: 1.5rem; }
    section.overlayer .bg-stripe {
      background: url(/images/bg-white.gif);
      overflow: hidden;
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 481px) {
        section.overlayer .bg-stripe {
          padding: 0; } }
    section.overlayer .bg-yellow {
      background-color: #F8B500;
      padding: 0 0 30px; }
      @media screen and (max-width: 481px) {
        section.overlayer .bg-yellow {
          padding: 0; } }
      section.overlayer .bg-yellow .menu-photo {
        width: 100%; }
    section.overlayer .bg-yellow_light1, section.overlayer .bg-yellow_light2 {
      background-color: #fde4ab; }
      @media screen and (max-width: 481px) {
        section.overlayer .bg-yellow_light1, section.overlayer .bg-yellow_light2 {
          padding: 0; } }
    section.overlayer .bg-yellow_light2 {
      background-color: #fbcc5d; }
    section.overlayer .no-padding {
      padding: 0; }
    section.overlayer .gotop {
      text-align: right;
      padding: 8px 10px;
      font-size: 11px;
      font-size: 1.1rem; }
    section.overlayer #myTab-menu .nav-tabs {
      border-bottom: none;
      background-color: #F8B500; }
      section.overlayer #myTab-menu .nav-tabs li > a {
        margin-right: 0px; }
      section.overlayer #myTab-menu .nav-tabs li:nth-child(1) > a, section.overlayer #myTab-menu .nav-tabs li:nth-child(1) > a:hover, section.overlayer #myTab-menu .nav-tabs li:nth-child(1) > a:focus, section.overlayer #myTab-menu .nav-tabs li:nth-child(1).active > a, section.overlayer #myTab-menu .nav-tabs li:nth-child(1).active > a:hover, section.overlayer #myTab-menu .nav-tabs li:nth-child(1).active > a:focus {
        text-align: center;
        background-color: #fde4ab;
        border: none;
        border-bottom-color: transparent;
        cursor: pointer;
        border-radius: 0 12px 0 0; }
      section.overlayer #myTab-menu .nav-tabs li:nth-child(2) > a, section.overlayer #myTab-menu .nav-tabs li:nth-child(2) > a:hover, section.overlayer #myTab-menu .nav-tabs li:nth-child(2) > a:focus, section.overlayer #myTab-menu .nav-tabs li:nth-child(2).active > a, section.overlayer #myTab-menu .nav-tabs li:nth-child(2).active > a:hover, section.overlayer #myTab-menu .nav-tabs li:nth-child(2).active > a:focus {
        background-color: #fbcc5d;
        border-radius: 12px 0 0 0;
        text-align: center;
        border: none;
        border-bottom-color: transparent;
        cursor: pointer; }
    section.overlayer article {
      width: 980px;
      margin: 0 auto;
      padding: 115px 15px 42px; }
      @media screen and (max-width: 481px) {
        section.overlayer article {
          width: 100%;
          padding: 30px 10px;
          height: auto; } }
      section.overlayer article#info {
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        @media screen and (max-width: 481px) {
          section.overlayer article#info {
            display: block; } }
        section.overlayer article#info div .info-title figure {
          float: left; }
        section.overlayer article#info div .info-title .tw-account {
          float: right; }
          section.overlayer article#info div .info-title .tw-account ul li {
            float: left; }
            section.overlayer article#info div .info-title .tw-account ul li img.tw-icon_size {
              height: 19px; }
        section.overlayer article#info div #tw-info {
          height: 260px;
          overflow: scroll; }
          section.overlayer article#info div #tw-info .tw_cont {
            line-height: 1.8;
            padding: 0 8px; }
          section.overlayer article#info div #tw-info hr {
            border-top: 1px solid #9F9FA0;
            margin: 16px 0; }
        section.overlayer article#info div .info-text {
          margin: 30px 0 42px 20px;
          line-height: 2; }
          @media screen and (max-width: 481px) {
            section.overlayer article#info div .info-text {
              margin: 30px 0 42px; }
              section.overlayer article#info div .info-text.tw-plugin-top {
                margin-top: 0; } }
      section.overlayer article#menu, section.overlayer article#myTabContent {
        padding-bottom: 35px; }
        section.overlayer article#menu.tab-content, section.overlayer article#myTabContent.tab-content {
          padding: 0;
          width: 100%; }
        @media screen and (max-width: 481px) {
          section.overlayer article#menu, section.overlayer article#myTabContent {
            height: auto; } }
        section.overlayer article#menu div .menu-description, section.overlayer article#myTabContent div .menu-description {
          text-align: center;
          line-height: 2;
          padding-bottom: 10px; }
          @media screen and (max-width: 481px) {
            section.overlayer article#menu div .menu-description, section.overlayer article#myTabContent div .menu-description {
              margin: 30px 0 0; } }
        section.overlayer article#menu .tab-pane .menulist h3, section.overlayer article#myTabContent .tab-pane .menulist h3 {
          font-size: 17px;
          text-align: center;
          padding: 30px 0 0px; }
          @media screen and (max-width: 481px) {
            section.overlayer article#menu .tab-pane .menulist h3, section.overlayer article#myTabContent .tab-pane .menulist h3 {
              font-size: 15px; } }
        section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu {
          display: table-cell;
          padding: 0 16px 30px; }
          section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu.lunch-menu, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu.lunch-menu, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu.lunch-menu, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu.lunch-menu {
            padding: 0 6px 30px; }
          @media screen and (max-width: 481px) {
            section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu {
              display: block;
              padding: 0 16px 20px; } }
          section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu:first-child, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu:first-child, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu:first-child, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu:first-child {
            padding-left: 0; }
            @media screen and (max-width: 481px) {
              section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu:first-child, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu:first-child, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu:first-child, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu:first-child {
                padding: 0 16px 20px; } }
          section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu:last-child, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu:last-child, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu:last-child, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu:last-child {
            padding-right: 0; }
            @media screen and (max-width: 481px) {
              section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu:last-child, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu:last-child, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu:last-child, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu:last-child {
                padding: 0 16px 20px; } }
          section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu h3, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu h3, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu h3, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu h3 {
            padding-bottom: 6px;
            font-size: 13px;
            font-size: 1.3rem;
            border-bottom: 1px solid #676767; }
            @media screen and (max-width: 481px) {
              section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu h3, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu h3, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu h3, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu h3 {
                font-weight: bold;
                font-size: 15px;
                font-size: 1.5rem;
                line-height: 1.8; } }
            section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu h3 span, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu h3 span, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu h3 span, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu h3 span {
              display: block;
              padding: 0 8px;
              text-align: center; }
            section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu h3 span.small, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu h3 span.small, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu h3 span.small, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu h3 span.small {
              font-size: 11px;
              font-size: 1.1rem;
              color: black;
              display: initial; }
          section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu p, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu p, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu p, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu p {
            padding: 0 8px;
            line-height: 2;
            text-align: center;
            font-size: 12px;
            font-size: 1.2rem; }
            section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu p .point, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu p .point, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu p .point, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu p .point {
              padding-right: 3px;
              font-weight: bolder; }
              @media screen and (max-width: 480px) {
                section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu p .point, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu p .point, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu p .point, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu p .point {
                  display: initial !important; } }
            section.overlayer article#menu .tab-pane .menulist ul li.dinner-menu p .disclimer, section.overlayer article#menu .tab-pane .menulist ul li.lunch-menu p .disclimer, section.overlayer article#myTabContent .tab-pane .menulist ul li.dinner-menu p .disclimer, section.overlayer article#myTabContent .tab-pane .menulist ul li.lunch-menu p .disclimer {
              font-size: 11px;
              font-size: 1.1rem; }
      section.overlayer article#profile .chef-profile {
        margin-top: 67px; }
        @media screen and (max-width: 481px) {
          section.overlayer article#profile .chef-profile {
            margin-top: 30px; } }
        section.overlayer article#profile .chef-profile ul li {
          width: 410px; }
          @media screen and (max-width: 481px) {
            section.overlayer article#profile .chef-profile ul li {
              width: auto;
              margin-bottom: 30px; } }
          section.overlayer article#profile .chef-profile ul li:nth-child(2) {
            margin-left: 130px; }
            @media screen and (max-width: 481px) {
              section.overlayer article#profile .chef-profile ul li:nth-child(2) {
                margin: 20px 0 50px 0; } }
          section.overlayer article#profile .chef-profile ul li div .chef_photo {
            width: 278px; }
            @media screen and (max-width: 481px) {
              section.overlayer article#profile .chef-profile ul li div .chef_photo {
                width: auto;
                margin-top: 10px; } }
          section.overlayer article#profile .chef-profile ul li p {
            margin-top: 20px;
            line-height: 1.7; }
      section.overlayer article#access {
        height: 740px; }
        @media screen and (max-width: 481px) {
          section.overlayer article#access {
            height: auto; } }
        section.overlayer article#access .access-map {
          margin-top: 47px; }
          @media screen and (max-width: 481px) {
            section.overlayer article#access .access-map {
              margin-top: 30px; } }
          section.overlayer article#access .access-map .access-text h3 {
            margin-top: 5px;
            font-size: 17px;
            font-size: 1.7rem; }
            @media screen and (max-width: 481px) {
              section.overlayer article#access .access-map .access-text h3 {
                font-weight: bold; } }
          section.overlayer article#access .access-map .access-text p {
            font-size: 15px;
            font-size: 1.5rem; }
            @media screen and (max-width: 481px) {
              section.overlayer article#access .access-map .access-text p {
                font-size: 13px;
                font-size: 1.3rem; } }
            section.overlayer article#access .access-map .access-text p.tel, section.overlayer article#access .access-map .access-text p.dinner, section.overlayer article#access .access-map .access-text p.seats, section.overlayer article#access .access-map .access-text p.disclaimer, section.overlayer article#access .access-map .access-text p.route {
              margin-top: 36px; }
              @media screen and (max-width: 481px) {
                section.overlayer article#access .access-map .access-text p.tel, section.overlayer article#access .access-map .access-text p.dinner, section.overlayer article#access .access-map .access-text p.seats, section.overlayer article#access .access-map .access-text p.disclaimer, section.overlayer article#access .access-map .access-text p.route {
                  margin-top: 16px; } }
              section.overlayer article#access .access-map .access-text p.tel a, section.overlayer article#access .access-map .access-text p.dinner a, section.overlayer article#access .access-map .access-text p.seats a, section.overlayer article#access .access-map .access-text p.disclaimer a, section.overlayer article#access .access-map .access-text p.route a {
                color: black; }
            section.overlayer article#access .access-map .access-text p.disclaimer {
              margin-left: 15px; }
              section.overlayer article#access .access-map .access-text p.disclaimer:before {
                content: "※";
                left: 0;
                position: absolute; }
            section.overlayer article#access .access-map .access-text p.no-margin {
              margin-top: 0; }
            @media screen and (max-width: 481px) {
              section.overlayer article#access .access-map .access-text p.route-sp {
                margin-top: 16px;
                text-align: center; } }
        @media screen and (max-width: 481px) {
          section.overlayer article#access .linktomap {
            margin-top: 16px; } }
        section.overlayer article#access .linktomap a {
          height: 45px;
          display: block;
          padding: 15px 30px;
          font-size: 13px;
          font-size: 1.3rem;
          color: white;
          border-bottom: 4px solid #A07302;
          border-radius: 3px;
          text-align: center; }
          section.overlayer article#access .linktomap a:link, section.overlayer article#access .linktomap a:visited {
            background-color: #C68D00; }
          section.overlayer article#access .linktomap a:hover {
            background-color: #C68D00; }
      section.overlayer article#footer {
        height: 160px;
        padding: 10px 0 0; }
        @media screen and (max-width: 481px) {
          section.overlayer article#footer {
            height: auto; } }
        section.overlayer article#footer div {
          text-align: center;
          font-size: 12px;
          font-size: 1.2rem; }

/*# sourceMappingURL=common.css.map */
