$contents-width: 980px;
$base-width:$contents-width + 30px;
$site-base-color: #F8B500 !default;
$site-menu-color1:#fde4ab;
$site-menu-color2:#fbcc5d;

.row{
	margin-left: 0px;
	margin-right: 0px;
}
.text-right{
	text-align: right;
}