@import "func";
@import "mixin";
@import "bootstrap/variables";



//***************************************************************************

		//

//***************************************************************************

//***************************

//   carousel settting

//*************************//
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
      -moz-transition: opacity ease-in-out 1.5s;
      -o-transition: opacity ease-in-out 1.5s;
      -webkit-transition: opacity ease-in-out 1.5s;
      transition: opacity ease-in-out 1.5s;
      z-index:0;
    }

    .active {
      opacity: 1;
      transition-property: opacity;
      -moz-transition: opacity ease-in-out 1.5s;
      -o-transition: opacity ease-in-out 1.5s;
      -webkit-transition: opacity ease-in-out 1.5s;
      transition: opacity ease-in-out 1.5s;
      z-index:1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 0;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}
.menu-wrapper{
	width:$contents-width;
	margin: auto;
	@media screen and (max-width: $screen-sm) {
		width:100%;
		
	}
}
//***************************************************************************

body{
	@include font-size(13);
}
ul{
	margin: 0;
}
.mc-image{
	background-size: cover;
	background-position: center;
	-webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1.5s;
      //opacity: 1;
	@media screen and (min-width: $screen-sm) and (max-device-width: 1024px) {
		width:1024px !important;
		height:768px !important;	
	}
}
#maximage{
	z-index: 1;

}
//***************************

//   loading

//***************************
#loader {
	width: 50px;
	height: 50px;
	display: none;
	position: fixed;
	_position: absolute; /* IE6対策 */
	top: 50%;
	left: 50%;
	margin-top: -25px; /* heightの半分のマイナス値 */
	margin-left: -25px; /* widthの半分のマイナス値 */
	z-index: 100;
	i{
		@include font-size(36);
	}
}
 
#fade {
	width: 100%;
	height: 100%;
	display: none;
	background-color: #FFFFFF;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
}
//***************************************************************************
#site_header{
	position: relative;
	z-index: 3;
	width: 100%;
	//top:582px;
	.fixed_area{
		background: rgba(248,181,0,1);
		padding:8px 0;
		width: 100%;
		$menu-height:59px;
		@media screen and (min-width: $screen-sm) {
			display: inline-table;
		}
		.menu_btn_area{
			width: $contents-width;
			
			margin:0 auto;
			padding:0 15px;
			z-index: 100;
			@media screen and (max-width: $screen-sm) {
				width:100%;
				padding:0;
			}
			.logo{
				float:left;
				cursor: pointer;
				img{
					height: $menu-height;
				}
			}
			.global-nav{
				float: left;
				margin-left:82px;
				ul{
					li{
						display: block;
						float: left;
						margin-right: 29px;
						&:last-child{
							margin-right:0px;
						}
						span{
							cursor: pointer;
						}
						a{
							vertical-align: middle;
							display: block;
							height: $menu-height;
							outline:none;
							padding-top: 24px;
							img{
								height:9px;
								outline:none;
								display: block;
								margin: 0 auto;
								padding-left: 28px;
							}
							
						}
						&.active{
								background: url(/images/active.png) center left no-repeat;
								background-position-y: 23px;
								background-position-x: 2px;
							}
						
					}
				}
			}//global-nav
			.social-btn{
				float: right;
				margin-left: 30px;
				ul{
					li{
						float: left;
						&:nth-child(2){
							padding-left: 20px;
						}
						
						a{
							vertical-align: middle;
							display: table-cell;
							height: $menu-height;

							img{
								&.tw-icon_size{
									height:29px;
								}
							}
						}
					}
				}
			}
		}
	}
}//#site_header

section{
	width: 100%;
	&.fixed_anime{
		position: fixed;
		z-index: 0;
		top: 0;
		.full_bg {
			.carousel-inner{
					overflow: hidden;
					width: 100%;
					height: 779px;
					@media screen and (max-width: $screen-sm) {
						//height: 480px;
					}
			}
		}
		.filter_layer{
			background: #fff;
			opacity: 0.1;
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			
		}
		.head_text_area{
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
			.head-logo{
				margin-top: 179px;
				@media screen and (max-width: $screen-sm) {
					margin-top: 49px;
				}
				img{
					max-width: 252px;
					display: block;
					margin:0 auto;
				}
			}
			.bookatable{
				margin-top: 32px;
				img{
					display: block;
					margin:0 auto;
				}
			}
		}
	}//fixed_anime
	&.overlayer{
		position:absolute;
		top:780px;
		@media screen and (max-width: $screen-sm) {
			top:481px;
		}
		@media screen and (min-width: $screen-sm) {
			display: inline-table;

		}
		z-index: 1;
		.sp-gmenu{
			background-color: $site-base-color;
			ul{
				li{
					display: block;
		
					//text-align: center;	
					background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 99%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* W3C */
					
					border-bottom: 1px solid rgba(0, 0, 0, 0.3);
					border-left: 1px solid rgba(0, 0, 0, 0.3);
					a{
						//text-align: center;
						padding: 16px 15px;
						color: inherit;
						display: block;
					}
					.fa{
						right: 10px;
						position: absolute;
					}
					.left-position{
						position: relative;
						top: 1px;
						left: -2px;
						display: inline-block;
						padding-right: 3px;
						@include font-size(15);

					}
				}
			}
		}
		.bg-stripe{
			background: url(/images/bg-white.gif);
			overflow: hidden;
			width: 100%;
			height: 100%;
			//padding:0 15px;
			@media screen and (max-width: $screen-sm) {
				padding:0;
			}
		}
		.bg-yellow{
			background-color: $site-base-color;
			//padding-bottom: 30px;
			padding:0 0 30px;
			@media screen and (max-width: $screen-sm) {
				padding:0;
			}
			.menu-photo{
				width:100%;
			}
		}
		.bg-yellow_light1,.bg-yellow_light2{
			background-color: $site-menu-color1;
			//padding-bottom: 30px;
			//padding:0 0 30px;
			@media screen and (max-width: $screen-sm) {
				padding:0;
			}
		}
		.bg-yellow_light2{
			background-color: $site-menu-color2;
		}
		.no-padding{
			padding: 0; 
		}
		.gotop{
			text-align: right;
			padding: 8px 10px;
			@include font-size(11);
		}
		#myTab-menu{
			.nav-tabs{
				border-bottom:none;
				background-color: $site-base-color;
				li > a {
					margin-right: 0px;
				}
				li:nth-child(1) > a, li:nth-child(1) > a:hover, li:nth-child(1) > a:focus ,li:nth-child(1).active > a, li:nth-child(1).active > a:hover, li:nth-child(1).active > a:focus {
					text-align: center;
					background-color: $site-menu-color1;
					border: none;
					border-bottom-color: transparent;
					cursor: pointer;
					border-radius: 0 12px 0 0;
				}
				li:nth-child(2) > a,li:nth-child(2) > a:hover, li:nth-child(2) > a:focus, li:nth-child(2).active > a, li:nth-child(2).active > a:hover, li:nth-child(2).active > a:focus {
					background-color: $site-menu-color2;
					border-radius: 12px 0 0 0;
					text-align: center;
					border: none;
					border-bottom-color: transparent;
					cursor: pointer;
				}
			}
		}
		article{
			width: $contents-width;
			margin: 0 auto;
			padding: 115px 15px 42px;
			//height: 780px;
			@media screen and (max-width: $screen-sm) {
				width:100%;
				padding: 30px 10px;
				height: auto;
			}

			&#info{
				display:-webkit-flex;
				display:-webkit-box;
				display:-moz-box;
				display:-ms-flexbox;
				display: flex;
				@media screen and (max-width: $screen-sm) {
					display: block;
				}
				div{
					.info-title{
						figure{
							float: left;
						}
						.tw-account{
							float: right;
							ul{
								li{
									float: left;
									img{
										&.tw-icon_size{
											height:19px;
										}
									}
								}
							}
						}
					}//info-title
					#tw-info {
						height: 260px;
						overflow: scroll;
						.tw_cont{
							line-height: 1.8;
							padding:0 8px;
						}
						hr{
							border-top: 1px solid #9F9FA0;
							margin:16px 0; 
						}
					}
					.info-text{
						margin:30px 0 42px 20px;
						line-height: 2;
						@media screen and (max-width: $screen-sm) {
							margin:30px 0 42px;
							&.tw-plugin-top{
								margin-top:0;
							}
						}
					}//info-text
				}//div
				
			}//#info
			&#menu, &#myTabContent{
					padding-bottom: 35px;
					//height: 407px;
					&.tab-content{
						padding:0;
						width:100%;
					}
					@media screen and (max-width: $screen-sm) {
						height: auto;
					}
				div{
					.menu-description{
						text-align: center;
						line-height: 2;
						padding-bottom: 10px;
						@media screen and (max-width: $screen-sm) {
							margin: 30px 0 0;
						}
					}
				}
				.tab-pane{
					.menulist{
						h3{
							font-size:17px;
							text-align: center;
							padding:30px 0 0px;
							@media screen and (max-width: $screen-sm) {
								font-size:15px;
							}
						}
						ul{
							li.dinner-menu,li.lunch-menu{
								display: table-cell;
								padding:0 16px 30px;
								&.lunch-menu{
									padding:0 6px 30px;
								}
								@media screen and (max-width: $screen-sm) {
									display:block;
									@include menulist-padding(20);
								}
								&:first-child{
									padding-left:0;
									@media screen and (max-width: $screen-sm) {
										@include menulist-padding(20);
									}
								}
								&:last-child{
									padding-right:0;
									@media screen and (max-width: $screen-sm) {
										@include menulist-padding(20);
									}
								}
								$menuList-paddingLR:8px;
								h3{
									padding-bottom: 6px;
									@include font-size(13);
									border-bottom:1px solid #676767;
									@media screen and (max-width: $screen-sm) {
										font-weight:bold;
										@include font-size(15);
										line-height: 1.8;
									}
									span{
										display: block;
										padding:0 $menuList-paddingLR;
										text-align: center;

									}
									span.small{
										@include font-size(11);
										color:black;
										display: initial;
										
									}
								}
								p{
									padding:0 $menuList-paddingLR;
									line-height: 2;
									text-align: center;
									@include font-size(12);
									.point{
										@media screen and (max-width: $screen-xs) {
											display:initial !important;
										}
										padding-right:3px;
										font-weight: bolder;
									}
									.disclimer{
										@include font-size(11);

									}

								}
							}
						}
					}
				}
			}//#menu
			&#profile{
				.chef-profile{
					margin-top: 67px;
					@media screen and (max-width: $screen-sm) {
						margin-top: 30px;
					}
					ul{
						li{
							width:410px;
							@media screen and (max-width: $screen-sm) {
								width:auto;
								margin-bottom: 30px;
							}
							&:nth-child(2){
								margin-left: 130px;
								@media screen and (max-width: $screen-sm) {
									margin: 20px 0 50px 0;
								}
							}
							div{
								.chef_photo{
									width:278px;
									@media screen and (max-width: $screen-sm) {
										width:auto;
										margin-top:10px;
									}
								}
							}
							p{
								margin-top:20px;
								line-height: 1.7;
							}
						}
					}
				}
			}//#profile
			&#access{
				height: 740px;
				@media screen and (max-width: $screen-sm) {
					height: auto;
				}
				.access-map{
					margin-top: 47px;
					@media screen and (max-width: $screen-sm) {
						margin-top: 30px;
					}
					.access-text{
						h3{
							margin-top: 5px;
							@include font-size(17);
							@media screen and (max-width: $screen-sm) {
								font-weight:bold;
							}
						}
						p{
							@include font-size(15);
							@media screen and (max-width: $screen-sm) {
								@include font-size(13);
							}
							&.tel, &.dinner, &.seats, &.disclaimer, &.route{
								margin-top: 36px;
								@media screen and (max-width: $screen-sm) {
									margin-top: 16px;
								}
								a{
									color:black;
								}
							}
							&.disclaimer{
								margin-left:15px;
								&:before{
									content:"※";
									left: 0;
									position: absolute;
								}
							}
							&.no-margin{
								margin-top:0;

							}
							&.route-sp{
								@media screen and (max-width: $screen-sm) {
									margin-top: 16px;
									text-align: center;
									//@include font-size(13);
								}
							}
						}
					}
				}
				.linktomap{
					@media screen and (max-width: $screen-sm) {
						margin-top: 16px;
					}
					a{
						//position: absolute;
						height:45px;
						display: block;
						padding: 15px 30px;
						@include font-size(13);
						color: white;
						border-bottom: 4px solid #A07302;
						border-radius: 3px;
						text-align: center;
						&:link,&:visited{
							background-color: #C68D00;
						}
						&:hover{
							background-color: #C68D00;
						}
						
					}
				}
				
			}//#access
			&#footer{
				height: 160px;
				@media screen and (max-width: $screen-sm) {
					height:auto;
				}
				padding:10px 0 0;
				//padding-top: 40px;
				div{
					text-align: center;
					@include font-size(12);
				}
			}
		}//article
		
	}
}
